{% extends 'base.html.twig' %}

{% block title %}
    Create a new wish | {{ parent() }}
{% endblock %}

{% block body %}
    <div>

        todo : formulaire de création de wish
    </div>
{% endblock %}
