<header>

    <a class="site-title" href="{{ path('main_home') }}">
        <img src="{{ asset('img/logo.png') }}" alt="Bucket-List">
    </a>

    <nav>
        <ul>
            <li><a href="{{ path('main_home') }}">Home</a></li>
            <li><a href="#">Autre page</a></li>
        </ul>
    </nav>


</header>